.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  gap: 24px;

  h1 {
    font-weight: 400;
    font-size: 42px;
  }

  button {
    border: none;
    background: none;
    &:hover {
      cursor: pointer;
    }
  }

  .game-grid {
    position: relative;
    width: calc(128px * 3);
    height: calc(128px * 3);
    margin-top: 24px;
    .columns,
    .rows {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
    }
    .columns {
      .column {
        height: calc(128px * 3);
        width: 128px;
        &:nth-child(1),
        &:nth-child(2) {
          border-right: 3px solid white;
        }
      }
    }
    .rows {
      flex-direction: column;
      .row {
        height: 128px;
        width: calc(128px * 3);
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 3px solid white;
        }
      }
    }
    .grid-inputs {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: calc(128px * 3);
      .grid-input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 128px;
        width: 128px;
        .grid-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 112px;
          width: 112px;
          font-size: 92px;
          padding: 0;
          &:hover {
            border: 1px solid white;
            border-radius: 2px;
          }
        }
      }
    }
  }
  .restart-btn {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
}
