@import url('https://fonts.cdnfonts.com/css/chalktastic');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #264941;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6, button {
  overflow-wrap: break-word;
  font-family: 'Chalktastic', sans-serif;
  color: white;
  cursor: default;
}

#root, #__next {
  isolation: isolate;
}
